<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="Title">Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/postView.css">
    <link rel="stylesheet" href="css/topBar.css">
    <link rel="stylesheet" href="css/paging.css">
    <link rel="stylesheet" href="css/layout.css">
</head>
<body>
<nav class="top-bar topbar-responsive">
    <div class="top-bar-title">
    <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
    </span>
        <a class="topbar-responsive-logo" href="#"><strong>Site Title</strong></a>
    </div>
    <div id="topbar-responsive" class="topbar-responsive-links">
        <div class="top-bar-right">
            <ul class="menu simple vertical medium-horizontal">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Works</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contact</a></li>
                <li>
                    <button type="button" class="button hollow topbar-responsive-button">Categories</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="holy-grail-grid">
    <div class="holy-grail-left">
        <h3>Nav</h3>
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
        </ul>
    </div>


    <div class="simple-article-header">
        <form th:object="${form}" method="post">
            <input type="hidden" th:field="*{id}" />

            <div>
                <label th:for="name"></label>
            </div>
        </form>
    </div>

    <div class="holy-grail-right">
        <div class="medium-3 columns" data-sticky-container>
            <div class="sticky" data-sticky data-anchor="content">
                <h4>Categories</h4>
                <ul>
                    <li><a href="#">Skyler</a></li>
                    <li><a href="#">Jesse</a></li>
                    <li><a href="#">Mike</a></li>
                    <li><a href="#">Holly</a></li>
                </ul>

                <h4>Authors</h4>
                <ul>
                    <li><a href="#">Skyler</a></li>
                    <li><a href="#">Jesse</a></li>
                    <li><a href="#">Mike</a></li>
                    <li><a href="#">Holly</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="holy-grail-footer">
        <ul class="pagination-pointed pagination text-center" role="navigation" aria-label="Pagination">
            <li class="pagination-previous disabled">Previous <span class="show-for-sr">page</span></li>
            <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
            <li><a class="pagination-pointed-button" href="#" aria-label="Page 2">2</a></li>
            <li><a class="pagination-pointed-button" href="#" aria-label="Page 3">3</a></li>
            <li><a class="pagination-pointed-button" href="#" aria-label="Page 4">4</a></li>
            <li class="ellipsis" aria-hidden="true"></li>
            <li><a class="pagination-pointed-button" href="#" aria-label="Page 12">12</a></li>
            <li><a class="pagination-pointed-button" href="#" aria-label="Page 13">13</a></li>
            <li class="pagination-next"><a class="pagination-pointed-button" href="#" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
        </ul>
    </div>

</div>

<script src="js/vendor.js"></script>
<script src="js/foundation.js"></script>
</body>
</html>